<div class="alerts-container" id="alertsContainer">
    <div class="noti-box noti-danger">
        <span>Not Good Mate</span>
    </div>

    <div class="noti-box noti-success">
        <span>All Good mate</span>
    </div>

    <div class="noti-box noti-danger">
        <span>All Good mate I guess so mate how are u mate thanks i am fine mate cool mate how aboot thooooose canadians, eh?</span>
    </div>

    <div class="noti-box noti-info">
        <div class="hide-noti-box"><i class="fa fa-times" aria-hidden="true"></i></div>
        <span>Some foo wants to play with cho!</span>
    </div>
</div>