/*body {*/
    /*background: #000;*/
    /*color: white;*/
/*}*/

.sign-x {
    background-image: url("/static/img/x.png");
    /*TODO figure a new way to load images since this is not using relative paths */
    background-size: 95%;
    -webkit-background-size: 95%;
}

.sign-o {
    background-image: url('/static/img/o.png');
    -webkit-background-size: 100%;
    background-size: 100%;
}

.game-container {
    background: rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px 1px rgba(64, 48, 117, 0.6);
    border-radius: 5px;
    text-align: center;
    padding: 4px 0 0;
}

.ttt-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;

    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;

    width: 32.333%;
    height: 32.333%;
    border-color: rebeccapurple; /*Fallback color*/
    border-color: rgba(64, 48, 117, 1);
    border-width: 2px;
    margin: 0 auto;
    padding: 0;
}

.ttt-inner-box {
    width: 95%;
    height: 95%;
}

.ttt-inner-box:hover {
    background: rgba(64, 48, 117, 0.5);
    border-radius: 5px;
}

.ttt-box-left {
    border-right-style: solid;
}

.ttt-box-right {
    border-left-style: solid;
}

.ttt-box-left-top {
    border-bottom-style: solid;
}

.ttt-box-left-bot {
    border-top-style: solid;
}

@media screen and (max-width: 900px) {

    .game-container {
        position: static;
        width: 390px;
        height: 390px;
        margin: 20px auto 0;
    }

    .ttt-box {
        width: 31.333%;
        height: 31.333%;
    }
}

@media screen and (max-width: 570px) {

    .game-container {
        width: 320px;
        height: 320px;
    }
}

