.sidebar-section {

}

.sidebar-background {
    background: #ededed;
    background: linear-gradient(to left, #ededed, rgba(0, 0, 0, 0));
}

.sidebar-item {
    padding: 5px;
}

.side-product {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.side-product:hover {
    background-color: #00c851 !important;
    color: #fff !important;
}