{% extends '../base-layout.twig' %}

{% block title %}{{ dict.home }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 d-flex justify-content-center align-items-center">
            <div>
                {% embed '../partials/game/board.twig' %} {% endembed %}
            </div>
        </div>
        {% embed '../sidebar.twig' %}
            {% block sidebarBody %}
                <section class="sidebar-item">
                    <h4>{{ dict.onlinePlayers }}</h4>
                    <div class="list-group" id="onlinePlayersList"></div>
                </section>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ path('/static/custom/js/game-logic.js') }}"></script>

{% endblock %}