<div class="game-container">
    <div class="ttt-box ttt-box-left ttt-box-left-top">
        <div id="t1a" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-left-top">
        <div id="t1b" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-right ttt-box-left-top">
        <div id="t1c" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-left">
        <div id="t2a" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box">
        <div id="t2b" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-right">
        <div id="t2c" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-left ttt-box-left-bot">
        <div id="t3a" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-left-bot ">
        <div id="t3b" class="ttt-inner-box smooth"></div>
    </div>
    <div class="ttt-box ttt-box-right ttt-box-left-bot">
        <div id="t3c" class="ttt-inner-box smooth"></div>
    </div>
</div>