<div id="sidebar" class="col-lg-3 sidebar-section rounded-5 {% block overrideBackgroundClass %}sidebar-background{% endblock %}">
    {% block sidebarBody %}
        <h3>Sidebar</h3>
    {% endblock %}
</div>