<div id="sidebar" class="{% block sidebarSize %}col-lg-4{% endblock %} sidebar-section rounded-5 {% block overrideBackgroundClass %}sidebar-background{% endblock %}">
    {% block sidebarBody %}
        <h3>Sidebar</h3>
    {% endblock %}
</div>